<h1>Hello World</h1>
{{> partialDemo}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quam
  repellat explicabo doloremque ipsa assumenda. Et dolorum architecto corrupti
  itaque quam, magnam animi, earum, sit porro provident ex aliquid reiciendis</p>